@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center bg-black">
    <h1 class="display-4 text-danger"><b>JEFFLIX</b></h1>
    <p class="text-danger">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
