@page
@model Jefflix.Pages.PersonasModel
@{
}

<h1>Soy la pagina de personas</h1>

<div class="card">
    <div class="card-body">
        <div>
            <label>Saludo 1</label>
            <input type="text" class="form-control" asp-for="saludo1"/>
        </div>
        <div>
            <label>Saludo 2</label>
            <input type="text" class="form-control" asp-for="saludo2"/>
        </div>
    </div>

</div>