@page
@model Jefflix.Pages.TestModel
@{
}

<h1>Soy la pagina Test</h1>
<form>
    <div>
        <input asp-for="Numero1" type="number"/>
    </div>
    <div>
        <input asp-for="Numero2" type="number"/>
    </div>
    <div>
        <button type="submit">Calcular</button>
    </div>
    
</form>